@import "./src/styles/core/prefixcls";

.#{$prefix-cls}btn-loading-icon-true {
  width: 1em;
  margin-right: 8px;
  display: inline-block;
  vertical-align: -0.15em;
  opacity: 1;

  animation: circle infinite 1s linear;
  transition: all 0.3s ease-in-out;
}

.#{$prefix-cls}btn-loading-icon-false {
  opacity: 0;
  width: 0;
  transition: all 0.3s ease-in-out;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}