@import "../../../styles/core/default";
@import "../../../styles/core/variabel";
@import "../../../styles/core/theme";

@mixin btn() {
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  user-select: none;
  outline: none;
  border-radius: 6px;
  background: $white;

  &::before {
    content: "";
    position: absolute;
    inset: -1px;
    z-index: 1;
    display: none;
    background: #fff;
    border-radius: inherit;
    opacity: .35;
    transition: opacity .2s;
    pointer-events: none;
  }

  &-loading {
    cursor: default;

    &::before {
      display: block;
    }
  }
}

@mixin btn-primary() {
  @include btn-color-base($white, $color-primary, transparent);
  @include btn-color-hover(null, $blue-300, null);
  @include btn-color-active(null, $color-primary, null);

  &-danger {
    @include btn-color-base($white, $red-400, $red-400);
    @include btn-color-hover($white, $red-300, $red-300);
    @include btn-color-active(null, $red-500, null);
  }

  @include btn-disabled()
}

@mixin btn-default() {
  @include btn-color-base($color-text, $white, $gray-300);
  @include btn-color-hover($blue-600, $cyan-50, $blue-100);
  @include btn-color-active($blue-400, null, $blue-600);

  &-danger {
    @include btn-color-base($red-400, $white, $red-400);
    @include btn-color-hover($red-200, $white, $red-200);
    @include btn-color-active($red-400, $white, $red-400);
  }

  @include btn-disabled();
}

@mixin btn-dashed() {
  @include btn-color-base($color-text, $white, $gray-300);
  @include btn-color-hover($primary, null, $primary);
  @include btn-color-active($blue-400, null, $blue-400);

  border-style: dashed;

  &-danger {
    @include btn-color-base($red-400, $white, $red-400);
    @include btn-color-hover($red-200, $white, $red-200);
    @include btn-color-active($red-400, $white, $red-400);
  }

  @include btn-disabled()
}

/*
//todo 下个版本再说吧
 */
@mixin btn-ghost() {
  @include btn-variable-color($white, transparent, $white);
  @include btn-disabled()
}

@mixin btn-link() {
  @include btn-color-base($blue-500, $white, transparent);
  @include btn-color-hover($blue-300, null, null);
  @include btn-color-active($blue-600, null, null);

  &:hover, &:focus {
    text-decoration: underline;
  }

  &-danger {
    @include btn-color-base($red-400, null, null);
    @include btn-color-hover($red-200, null, null);
    @include btn-color-active($red-400, null, null);
  }

  @include btn-disabled($btn-disabled-color, transparent, transparent)
}

@mixin btn-text() {
  @include btn-color-base($color-text, transparent, transparent);
  @include btn-color-hover(null, $gray-50, null);
  @include btn-color-active(null, $gray-100, null);

  box-shadow: none;

  &-danger {
    @include btn-color-base($red-400, null, null);
    @include btn-color-hover($red-400, null, null);
    @include btn-color-active(null, null, null);
  }

  @include btn-disabled($btn-disabled-color, transparent, transparent)
}


/*
大小尺寸
*/
@mixin btn-variable-size($font-size, $height, $padding) {
  font-size: $font-size;
  height: $height;
  padding: $padding;
}

/*
颜色
*/
@mixin btn-variable-color($color, $background, $border) {
  color: $color;
  background: $background;
  border-color: $border;
}

@mixin btn-color-base(
  $color: null,
  $background: null,
  $border: null,
) {
  @include btn-variable-color($color, $background, $border);
}

@mixin btn-color-hover(
  $color: null,
  $background: null,
  $border: null,
) {
  &:hover, &:focus {
    transition: none;
    @include btn-variable-color($color, $background, $border);
  }
}

@mixin btn-color-active(
  $color: null,
  $background: null,
  $border: null,
) {
  &:active {
    transition: none;
    @include btn-variable-color($color, $background, $border);
  }
}

/*
disabled
 */
@mixin btn-disabled(
  $color: null,
  $background: null,
  $border: null
) {
  &[disabled] {
    cursor: not-allowed;

    @include btn-shadow-none($disabled-color-text, $disabled-bg-color, $disabled-border-color);
  }
}

@mixin btn-shadow-none($color,$background,$border) {
  &,
  &:hover,
  &:focus,
  &:active,
  &:active::after,
  &::after {
    @include btn-variable-color($color, $background, $border);
    text-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
  }
}