@import "../../../styles/core/default";
@import "../../../styles/core/variabel";

@mixin btn() {
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  user-select: none;
  outline: none;
  border-radius: 6px;
}

@mixin btn-default() {
  @include btn-variable-color($black, $white, $gray-300);

  &:hover {
    color: $primary;
    border-color: $primary;
    background: $gray-50;
  }
  &:active {
    color: $blue-400;
    border-color: $blue-400;
  }

  &-danger {
    @include btn-variable-danger($white, $red-400, $red-400, $white, $red-300, $red-500);
  }

  @include btn-box-shadow();
  @include btn-disabled();
}

@mixin btn-primary() {
  @include btn-variable-color($white, $primary, transparent);

  &:hover {
    background: $blue-600;
  }
  &:active {
    background: $blue-900;
  }

  @include btn-box-shadow();
  @include btn-disabled()
}

@mixin btn-dashed() {
  @include btn-variable-color($black, $white, #d9d9d9);
  border-style: dashed;

  &:hover {
    color: $primary;
    border-color: $primary;
  }
  &:active {
    color: $blue-400;
    border-color: $blue-400;
  }

  @include btn-box-shadow();
  @include btn-disabled()
}

@mixin btn-ghost() {
  @include btn-variable-color($white, transparent, $white);
  @include btn-disabled()
}

@mixin btn-link() {
  @include btn-variable-color($blue-500, $white, transparent);

  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $blue-800;
  }

  @include btn-disabled($btn-disabled-color, transparent, transparent)
}

@mixin btn-text() {
  @include btn-variable-color($black, transparent, transparent);
  box-shadow: none;

  &:hover,
  &:focus {
    background: $gray-50;
  }
  &:active {
    background: $gray-100;
  }

  @include btn-disabled($btn-disabled-color, transparent, transparent)
}


/*
大小尺寸
*/
@mixin btn-variable-size($font-size, $height, $padding) {
  font-size: $font-size;
  height: $height;
  padding: $padding;
}

/*
颜色
*/
@mixin btn-variable-color($color, $background, $border) {
  color: $color;
  background: $background;
  border-color: $border;
}

/*
危险类型
*/
@mixin btn-variable-danger(
  $color,
  $background,
  $border,
  $hover-color,
  $hover-bg,
  $active-bg,
) {
  @include btn-variable-color($color, $background, $border);

  &:hover {
    @include btn-variable-color($hover-color, $hover-bg, $hover-bg);
  }
  &:active {
    @include btn-variable-color($hover-color, $active-bg, $active-bg);
  }
}

/*
disabled
 */
@mixin btn-disabled(
  $color: $btn-disabled-color,
  $background: $btn-disabled-bg,
  $border: $btn-border-color
) {
  &[disabled] {
    cursor: not-allowed;

    &,
    &:hover,
    &:focus,
    &:active {
      @include btn-variable-color($color, $background, $border);
      text-shadow: none;
      box-shadow: none;
    }
  }
}

/*
点击动画
*/
@mixin btn-box-shadow () {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 6px $primary;
    opacity: 0;
    transition: .3s;
  }

  &:active {
    filter: brightness(.9);
  }

  &:active:not([type="text"])::after {
    transition: 0s;
    box-shadow: none;
    opacity: 0.4;
  }
}