$height-sm: 24px !default;
$height-md: 32px !default;
$height-lg: 40px !default;

$btn-height-sm: $height-sm !default;
$btn-height-md: $height-md !default;
$btn-height-lg: $height-lg !default;

$btn-disabled-bg: rgba(0, 0, 0, 7%);
$btn-disabled-color: rgba(0, 0, 0, 25%);
$btn-border-color: rgba(0, 0, 0, 7%);

$inp-height-sm: $height-sm !default;
$inp-height-md: $height-md !default;
$inp-height-lg: $height-lg !default;