$height-sm: 24px !default;
$height-md: 32px !default;
$height-lg: 40px !default;

$btn-height-sm: $height-sm !default;
$btn-height-md: $height-md !default;
$btn-height-lg: $height-lg !default;

$btn-disabled-bg: rgba(0, 0, 0, 7%);
$btn-disabled-color: rgba(0, 0, 0, 25%);
$btn-border-color: rgba(0, 0, 0, 7%);

$input-height-sm: $height-sm !default;
$input-height-md: $height-md !default;
$input-height-lg: $height-lg !default;

$disabled-font-color: #c0c4cc;
$disabled-bg-color: #f5f7fa;
$disabled-border-color: #e4e7ed;