@import "./src/styles/core/color";
@import "./src/styles/core/theme";

@mixin input-wrapper() {
  padding: 4px;
  border-radius: 18px;
  background: #333643;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  position: relative;
  height: 42px;

  &[disabled] {
    cursor: not-allowed;
    background: $disabled-color-bg;
    color: $disabled-color-text;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 2px;
    border: 2px solid #FFF;
    border-radius: 16px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &[disabled]::before {
    opacity: 0;
  }


  &-box {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

}

@mixin input() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all .3s;
  border-radius: 2px;
  border: unset;
  background-color: #333643;
  color: white;
  height: 100%;

  &-label {
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    cursor: text;
    color: $gray-200;
    margin-top: 8px;
    z-index: 1;

    &-sm {
      color: $color-text;
      padding-left: 20px;
    }

    &-md {
      margin-top: 6px;
    }

    &[disabled] {
      cursor: not-allowed;
      color: $disabled-color-text;
    }
  }

  &-suffix {
    color: #FFF;
    z-index: 1;

    &-sm {
      padding-left: 10px;
    }

    &-md {
      padding-left: 12px;
    }

    &-lg {
      padding-left: 16px;
    }

    &[disabled] {
      cursor: not-allowed;
      color: $disabled-color-text;
    }
  }

  &:hover {
    //border-color: $color-primary;
  }
  &:focus {
    // 可以使:focus-visible 不生效
    outline: 0
  }

  @include input-disabled();
}

@mixin input-unstyled() {
  border: none;
  outline: 0;

  &:hover, &:focus {
    border-color: unset;
    box-shadow: none;
  }
}

@mixin input-status-error() {
  border-color: $red-400;
  &:hover {
    border-color: $red-400;
  }
  &:focus {
    border-color: $red-400;
    box-shadow: 0 0 0 2px rgba(255, 77, 79, .2);
  }
}

@mixin input-variable-size($font-size, $height) {
  font-size: $font-size;
  height: $height;
}

@mixin input-disabled() {
  &[disabled] {
    cursor: not-allowed;
    background-color: $disabled-color-bg;
    border-color: $disabled-color-border;
    color: $disabled-color-text;

    &:hover, &:focus {
      //border-color: $disabled-color-border;
    }
  }

  &[disabled]::placeholder {
    color: $disabled-color-text;
  }
}