@import "./src/styles/core/prefixcls";
@import "./mixins";

.#{$prefix-cls}message {

  &-wrap {
    @include messages-wrapper;
  }

  &-container {
    @include messages-container;
  }

  &-content-wrap {
    @include messages-content-wrapper;
  }

  &-info {
    @include message-info;
  }

  &-success {
    @include message-success;
  }

  &-warning {
    @include message-warning;
  }

  &-error {
    @include message-error;
  }

  &-close {
    @include message-close;
  }

  &-info-close {
    @include message-info-close;
  }

  &-success-close {
    @include message-success-close;
  }

  &-warning-close {
    @include message-warning-close;
  }

  &-error-close {
    @include message-error-close;
  }


  /* message 出场动画 */
  &-fade-enter {
    transform: translate(0, -24px);
    opacity: 0;
    max-height: 0;
  }

  &-fade-enter-active {
    opacity: 1;
    max-height: 200px;
    transition: opacity 300ms ease-in-out, transform 300ms, max-height 300ms;
    transform: translate(0, 0);
  }

  &-fade-exit {
    opacity: 1;
    max-height: 200px;
  }

  &-fade-exit-active {
    opacity: 0;
    max-height: 0;
    transition: max-height 300ms, opacity 300ms ease-in-out, transform 300ms;
    transform: translate(0, -24px);
  }

}
