@import "./src/styles/core/prefixcls";
@import "./mixins";
@import "./time";

.#{$prefix-cls}picker {

  &-dropdown {
    position: absolute;
  }

  &-wrapper {
    @include calendar-wrapper;
  }

  &-table {
    @include calender-table
  }

  &-header {
    @include calendar-header
  }

  &-body {
    @include calendar-body
  }

  &-td {
    @include calendar-td;
  }

  &-cell {
    @include calendar-cell;
  }

  &-presets {
    @include calendar-presets
  }


  /* calendar 出场动画 */
  &-fade-enter {
    transform: translate(0, -24px);
    opacity: 0;
  }

  &-fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out, transform 300ms;
    transform: translate(0, 0);
  }

  &-fade-exit {
    opacity: 1;
  }

  &-fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out, background 300ms, transform 300ms;
    transform: translate(0, -6px);
  }

  &-fade-exit-done {
    display: none;
  }

  /* 当设置 unmountOnExit = false时 避免初始化就展示元素 */
  &-anm:not(&-applied) {
    display: none;
  }

}


